In [10]:
#q1
import pandas as pd
a={"name":["abc","xyz","cde"],
   "age":[12,78,90],
   "id":[1,4,5]
  }
print(a)
b=pd.DataFrame(a)
print(b)
c={"name":["ghj","jkl"],
   "age":[90,89],
   "id":[7,8]
  }
h=pd.DataFrame(c)
print(h)
g=pd.concat([b, h], ignore_index=True)
print(g)
k=pd.merge(b,h,how="cross")
print(k)
print(b['age']>18)
print(b['age']>18)

{'name': ['abc', 'xyz', 'cde'], 'age': [12, 78, 90], 'id': [1, 4, 5]}
  name  age  id
0  abc   12   1
1  xyz   78   4
2  cde   90   5
  name  age  id
0  ghj   90   7
1  jkl   89   8
  name  age  id
0  abc   12   1
1  xyz   78   4
2  cde   90   5
3  ghj   90   7
4  jkl   89   8
  name_x  age_x  id_x name_y  age_y  id_y
0    abc     12     1    ghj     90     7
1    abc     12     1    jkl     89     8
2    xyz     78     4    ghj     90     7
3    xyz     78     4    jkl     89     8
4    cde     90     5    ghj     90     7
5    cde     90     5    jkl     89     8
0    False
1     True
2     True
Name: age, dtype: bool
0    False
1     True
2     True
Name: age, dtype: bool

In [11]:
#q2
import pandas as pd

def reindex_dataframe(df):
    # Reset the index with a custom index that starts from 1 and increments by 2
    new_index = range(1, len(df) * 2, 2)
    df.reset_index(drop=True, inplace=True)
    df.index = new_index

    return df

# Example DataFrame with columns 'A', 'B', and 'C'
data = {
    'A': [10, 20, 30, 40],
    'B': [50, 60, 70, 80],
    'C': [90, 100, 110, 120]
}
df = pd.DataFrame(data)

# Re-indexing the DataFrame
df_reindexed = reindex_dataframe(df)

# Printing the re-indexed DataFrame
print(df_reindexed)

    A   B    C
1  10  50   90
3  20  60  100
5  30  70  110
7  40  80  120

In [18]:
#q4
def count(text):
    w=text.split()
    return len(w)
d={'text':["hii","how are u","fine"]}
data=pd.DataFrame(d)
print(data)
data['Word_Count'] = data['text'].apply(count)
print(data)

        text
0        hii
1  how are u
2       fine
        text  Word_Count
0        hii           1
1  how are u           3
2       fine           1

In [19]:
#q5
"""
data frame size return the total no of elements in a data frame
data frame represents the dimenshion of the data frame"""

'\ndata frame size return the total no of elements in a data frame\ndata frame represents the dimenshion of the data frame'

In [21]:
#q6
""" we can read excel file by pd.read_excel("path of excel sheet")
"""

' we can read excel file by pd.read_excel("path of excel sheet")\n'

In [27]:
#q7
def extract(email):
    username=email.split('@')[0]
    return username
data={'email':["gaurisha3456@gmail.com","gaurisha098123@gmail.com","khjj@gmail.com"]}
d=pd.DataFrame(data)
print(d)
d['new']=d['email'].apply(extract)
print(d)

                      email
0    gaurisha3456@gmail.com
1  gaurisha098123@gmail.com
2            khjj@gmail.com
                      email             new
0    gaurisha3456@gmail.com    gaurisha3456
1  gaurisha098123@gmail.com  gaurisha098123
2            khjj@gmail.com            khjj

In [30]:
#q8
def select(df):
    row=df[(df['a']>5)& (df['b']<10)]
    return row

d={'a':[23,45,67,78,89],
   'b':[56,89,56,6,7],
   'c':[12,34,56,67,5]
  }
df=pd.DataFrame(d)
select_1=select(df)
print(select_1)

    a  b   c
3  78  6  67
4  89  7   5

In [34]:
#q9
data={"values":[90,67,56,12,35,34]
     }
df=pd.DataFrame(data)
print(df)
g=df["values"].mean()
print(g)
k=df["values"].median()
j=df["values"].std()
print(k)
print(j)

   values
0      90
1      67
2      56
3      12
4      35
5      34
49.0
45.5
27.72724292099739

In [36]:
#Q10
import pandas as pd

def add_weekday_column(df):
    # Convert the 'Date' column to a datetime format (if not already)
    df['Date'] = pd.to_datetime(df['Date'])

    # Create a new column 'Weekday' containing the weekday name
    df['Weekday'] = df['Date'].dt.day_name()

    return df

# Example DataFrame with a column 'Date'
data = {
    'Date': ["2023-07-17", "2023-07-18", "2023-07-19", "2023-07-20", "2023-07-21"]
}
df = pd.DataFrame(data)

# Call the add_weekday_column function to add the 'Weekday' column
df = add_weekday_column(df)

# Printing the DataFrame with the new 'Weekday' column
print(df)

        Date    Weekday
0 2023-07-17     Monday
1 2023-07-18    Tuesday
2 2023-07-19  Wednesday
3 2023-07-20   Thursday
4 2023-07-21     Friday

In [37]:
#q12

def select(df,start,end):
    df['date']=pd.to_datetime(df['date'])
    m=(df['start']>=start) & (df['end']>=end)
    row=df[m]
    return row
data={'date':["2023-01-12","2021-09-3","2020-12-2","2019-9-7","2018-11-4"]}
df=pd.DataFrame(data)
start = '2023-01-01'
end = '2023-01-31'
d=select(df,start,end)
print(d)

KeyError: 'start'

In [38]:
#q14
""" we need to first import pandas libaray to be imported"""

' we need to first import pandas libaray to be imported'

In [ ]:
#q3
def sum(df):
    sum_3=0
    for index, row in df.iterrows():
        
        sum_3 += row['values']

        
        if index == 2:
            break
    print(sum_3)        
data={"values":[10,20,20,34,45,78]}
df=pd.DataFrame(data)
a=sum(df)
print(a)