In [5]:
#q1
import pandas as pd
data={"name":[90,89,34],
      "id":[12,23,45],
      "age":[23,89,45]
     }
df=pd.DataFrame(data)
s=df.loc[1]
print(s)

name    89
id      23
age     89
Name: 1, dtype: int64

In [6]:
#q4
mean=df.mean()
print(mean)
sd=df["id"].std()
print(sd)

name    71.000000
id      26.666667
age     52.333333
dtype: float64
16.802777548171413

In [7]:
#q5
df.loc[2,"id"]="hii"
m=df["id"].mean()
print(m)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [8]:
""" we are getting error because mean can be calculated only for numeric values and not of the string variable"""

' we are getting error because mean can be calculated only for numeric values and not of the string variable'

In [12]:
#q6
df2=pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
#print(df2)
d=df2['Age'].rolling(window=3).mean()
print(d)
p=df2['Fare'].rolling(window=4).std()
print(p)

0            NaN
1            NaN
2      28.666667
3      33.000000
4      32.000000
         ...
886    30.333333
887    28.333333
888          NaN
889          NaN
890          NaN
Name: Age, Length: 891, dtype: float64
0            NaN
1            NaN
2            NaN
3      32.389078
4      32.163198
         ...
886     9.779941
887    11.544089
888     7.821402
889     8.026038
890    10.497698
Name: Fare, Length: 891, dtype: float64

In [13]:
""" the window function perform mathemtical operation if window =2 it will calculate mean of itself and one above it"""

' the window function perform mathemtical operation if window =2 it will calculate mean of itself and one above it'

In [14]:
#q7
from datetime import datetime

# Get the current date
current_date = datetime.now()

# Extract the current month and year from the date
current_month = current_date.month
current_year = current_date.year

# Print the current month and year
print("Current Month:", current_month)
print("Current Year:", current_year)

Current Month: 7
Current Year: 2023

In [16]:
#q8
p=input("enter  path for the file")
c=input("enter the colum for categorical ")
order=input("enter the categories for the order ")
category_order = [cat.strip() for cat in order.split(',')]
df=pd.read_csv(p)
df[c]=pd.Categorical(df[c])
sort=df.sort_values(c)
print(sort)

enter  path for the file https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
enter the colum for categorical  Age
enter the categories for the order  Fare

     PassengerId  Survived  Pclass                                      Name  \
803          804         1       3           Thomas, Master. Assad Alexander
755          756         1       2                 Hamalainen, Master. Viljo
644          645         1       3                    Baclini, Miss. Eugenie
469          470         1       3             Baclini, Miss. Helene Barbara
78            79         1       2             Caldwell, Master. Alden Gates
..           ...       ...     ...                                       ...
859          860         0       3                          Razi, Mr. Raihed
863          864         0       3         Sage, Miss. Dorothy Edith "Dolly"
868          869         0       3               van Melkebeke, Mr. Philemon
878          879         0       3                        Laleff, Mr. Kristo
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"

        Sex   Age  SibSp  Parch      Ticket     Fare Cabin Embarked
803    male  0.42      0      1        2625   8.5167   NaN        C
755    male  0.67      1      1      250649  14.5000   NaN        S
644  female  0.75      2      1        2666  19.2583   NaN        C
469  female  0.75      2      1        2666  19.2583   NaN        C
78     male  0.83      0      2      248738  29.0000   NaN        S
..      ...   ...    ...    ...         ...      ...   ...      ...
859    male   NaN      0      0        2629   7.2292   NaN        C
863  female   NaN      8      2    CA. 2343  69.5500   NaN        S
868    male   NaN      0      0      345777   9.5000   NaN        S
878    male   NaN      0      0      349217   7.8958   NaN        S
888  female   NaN      1      2  W./C. 6607  23.4500   NaN        S

[891 rows x 12 columns]

In [23]:
#q11
p=input("enter the dataset ")
df=pd.read_csv(p)
mo=df['Age'].mean()
m=df['Age'].std()
median=df['Age'].mode()
print(m)
print(mo)
print(median)

enter the dataset  https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv

14.526497332334044
29.69911764705882
0    24.0
Name: Age, dtype: float64

In [ ]:
#q2
"""
loc is used to access data based on the labels (index names) of rows and columns.
It can be used with either DataFrames or Series.
iloc is used to access data based on the integer positions of rows and columns.
It can be used with either DataFrames or Series."""