In [1]:
#q1
"""
database is use to store large amount of data in the form of row and columm 
we can easily fetch data from databases
SQL (Structured Query Language) and NoSQL (Not only SQL) are two different types of database management systems, each designed for 
different purposes and use cases.
Here are some key differences between SQL and NoSQL databases:



SQL databases are based on the relational data model, where data is organized into tables with predefined s
chemas and relationships between tables are established using primary and foreign keys. This structure allows for complex queries and joins.
NoSQL databases use various data models such as key-value pairs, document-based (like JSON or XML), columnar,
or graph-based. They provide flexibility by allowing schema-less or dynamic schemas, making it easier to store and
retrieve unstructured or semi-structured data.
"""

'\ndatabase is use to store large amount of data in the form of row and columm \nwe can easily fetch data from databases\nSQL (Structured Query Language) and NoSQL (Not only SQL) are two different types of database management systems, each designed for \ndifferent purposes and use cases.\nHere are some key differences between SQL and NoSQL databases:\n\n\n\nSQL databases are based on the relational data model, where data is organized into tables with predefined s\nchemas and relationships between tables are established using primary and foreign keys. This structure allows for complex queries and joins.\nNoSQL databases use various data models such as key-value pairs, document-based (like JSON or XML), columnar,\nor graph-based. They provide flexibility by allowing schema-less or dynamic schemas, making it easier to store and\nretrieve unstructured or semi-structured data.\n'

In [2]:
#q2
"""
ddl is data defination language . it is use for definig the structure of the table
create,drop,alter,truncate are the commands use for defing the data in the table 
create is use to create new table or database
drop is use to delete  taable or database
alter is use to change the structure of the table
truncate is use to delete the content of the table not the structure
"""

'\nddl is data defination language . it is use for definig the data inside the table\ncreate,drop,alter,truncate are the commands use for defing the data in the table \ncreate is use to create new table or database\ndrop is use to delete  taable or database\nalter is use to change the structure of the table\ntruncate is use to delete the content of the table not the structure\n'

In [3]:
#q3
"""
dml : data manipulation language use to manipulate the data inside the table 
insert: use to insert values in the table
delete: to delete content inside the table
"""

'\ndml : data manipulation language use to manipulate the data inside the table \ninsert: use to insert values in the table\ndelete: to delete content inside the table\n'

In [4]:
#q4
"""
dql : data query langauage"""

'\ndql : data query langauage'

In [5]:
#q6
import mysql.connector
# import mysql.connector
#create user 'user'@'%' identified by 'password'
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
print(mydb)
mycursor = mydb.cursor()

ModuleNotFoundError: No module named 'mysql'

In [ ]:
#q7
"""
In SQL, the order of execution of clauses in a query is as follows:

1. FROM: This clause specifies the table or tables from which the data will be retrieved. 
It defines the source of the data.

2. JOIN: If there are any join operations specified in the query, they are executed after the FROM clause. 
Joins are used to combine data from multiple tables based on a related column or condition.

3. WHERE: The WHERE clause is used to filter the rows based on specific conditions. It narrows down the result set by applying conditions 
to the columns.

4. GROUP BY: If a GROUP BY clause is present in the query, it is executed after the WHERE clause. The GROUP BY clause groups the rows 
based on one or more columns and is often used in combination with aggregate functions like COUNT, SUM, AVG, etc.

5. HAVING: The HAVING clause is used to filter the groups generated by the GROUP BY clause. It applies conditions to the grouped data.

6. SELECT: The SELECT clause is executed after the previous clauses. It specifies the columns to be selected from the tables or views.

7. DISTINCT: If the DISTINCT keyword is used in the SELECT clause, it is executed after the SELECT clause. It removes duplicate 
rows from the result set.

8. ORDER BY: The ORDER BY clause is executed after the previous clauses. It is used to sort the result set based
on one or more columns in ascending or descending order.

9. LIMIT/OFFSET: If the query includes a LIMIT or OFFSET clause, it is executed after the ORDER BY clause. 
These clauses are used for pagination, limiting the number of rows returned, or skipping a certain number of rows.

10. UNION: If multiple SELECT statements are combined using the UNION operator, the union operation
is performed after all the individual SELECT statements have been executed. It combines the result sets of the individual queries into a single result set.

"""