In [1]:
#q1
"""
3 measures of central tendency are:
mean
median
mode"""

'\n3 measures of central tendency are:\nmean\nmedian\nmode'

In [2]:
#q3
"""
Mean = (172.5 + 175 + 175 + 176 + 176 + 176.2 + 176.5 + 177 + 177 + 178 + 178 + 178 + 178.2 + 178.9 + 179 + 180) / 16

Mean = 2827.3 / 16

Mean = 176.70625 
median

[172.5, 175, 175, 176, 176, 176.2, 176.5, 177, 177, 178, 178, 178, 178.2, 178.9, 179, 180]
Median = (176.2 + 176.5) / 2

Median = 352.7 / 2

Median = 176.35 
mode:
178
"""

'\nMean = (172.5 + 175 + 175 + 176 + 176 + 176.2 + 176.5 + 177 + 177 + 178 + 178 + 178 + 178.2 + 178.9 + 179 + 180) / 16\n\nMean = 2827.3 / 16\n\nMean = 176.70625 \nmedian\n\n[172.5, 175, 175, 176, 176, 176.2, 176.5, 177, 177, 178, 178, 178, 178.2, 178.9, 179, 180]\nMedian = (176.2 + 176.5) / 2\n\nMedian = 352.7 / 2\n\nMedian = 176.35 \nmode:\n178\n'

In [3]:
#q3
l=[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]
p=l,std()
print(p)

NameError: name 'std' is not defined

In [4]:
#q6
"""
A Venn diagram is a visual representation used to show the relationships and similarities between different sets of items
The primary purpose of a Venn diagram is to illustrate the logical relationships between different sets, allowing for a clear
visualization of the common and distinct elements within those sets.
"""

'\nA Venn diagram is a visual representation used to show the relationships and similarities between different sets of items\nThe primary purpose of a Venn diagram is to illustrate the logical relationships between different sets, allowing for a clear\nvisualization of the common and distinct elements within those sets.\n'

In [6]:
#q7
"""
s A = (2,3,4,5,6,7) & B = (0,2,6,8,10)
a u b={2,3,4,5,6,7,8,10,0}
	A B= {2,6}
    """

'\ns A = (2,3,4,5,6,7) & B = (0,2,6,8,10)\na u b={2,3,4,5,6,7,8,10,0}\n\tA B= {2,6}\n    '

In [7]:
#q8
"""
Skewness is a statistical measure that describes the asymmetry of the probability distribution of a dataset.
"""

'\nSkewness is a statistical measure that describes the asymmetry of the probability distribution of a dataset.\n'

In [8]:
#q9
"""
mean>median>mode
"""

'\nmean>median>mode\n'

In [9]:
#q10
'''
covariance and corelation both are use to define the relationship between 2 random variable
covariance can have any value till infinity
corelation can have value from -1 to 1
'''

'\ncovariance and corelation both are use to define the relationship between 2 random variable\ncovariance can have any value till infinity\ncorelation can have value from -1 to 1\n'

In [10]:
#q11
"""
Sample Mean = (Sum of all data points) / (Number of data points)
"""
import seaborn as sns
import numpy as np
t=sns.load_dataset("tips")
t.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [12]:
p=np.mean(t["total_bill"])
print(p)

19.78594262295082

In [13]:
#q12
"""
all three mean,median,mode are equaL for the normal distribution
"""

'\nall three mean,median,mode are equaL for the normal distribution\n'

In [ ]:
#q13
"""

In [14]:
#q10
'''
covariance and corelation both are use to define the relationship between 2 random variable
covariance can have any value till infinity
corelation can have value from -1 to 1
'''

'\ncovariance and corelation both are use to define the relationship between 2 random variable\ncovariance can have any value till infinity\ncorelation can have value from -1 to 1\n'